@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>
@{
    if (!Model.Empty)
    {
        //User found
        <h3>@Model.Name</h3>
        <ul>
            <li>Membership Type: @Model.MembershipType.Name</li>
            @*If customer is equal or older than 100 years*@
            @if (@Model.BirthDate >= DateTime.Now.AddYears(-100))
            {
                <li>Birthdate: @Model.BirthDate</li>
            }
        </ul>

    }
    else
    {
        <h3>No user found</h3>
    }
}

