@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@{
    if (Model.Any())
    {
        <table class="table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Membership Type</th>
            </tr>
            <tr>
                @{
                    foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td><a href="/customers/details/@user.Id">@user.Name</a></td>
                            <td>
                                @user.MembershipType.Name
                            </td>

                        </tr>
                    }
                }
            </tr>
        </table>
    }
    else
    {
        <h3>No customers found</h3>
    }
}