@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>
@{
    if (Model.Any())
    {
        <table id="customers" class="table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
            <tr>
                @{
                    foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@Html.ActionLink(user.Name, "Edit", new {id = user.Id})</td>
                            <td>
                                @user.MembershipType.Name
                            </td>
                            <td>
                                <button class="btn-link js-delete">Delete</button>
                            </td>
                        </tr>
                    }
                }
            </tr>
        </table>
    }
    else
    {
        <h3>No customers found</h3>
    }
}

@section Scripts
{
    <script>
        $(document)
            .ready(function() {
                $("#customers .js-delete")
                    .on("click",
                        function() {
                            alert("Test");
                        });
            });
    </script>
}